<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>搞事情</title>
    <link rel="stylesheet" href="lib/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="wrapper">
    <div class="navbar">
        <h1>比卡丘</h1>
    </div>
    <div class="header">
        想干啥子哟
    </div>
    <form @submit.prevent="add" id="task-form">
        <div class="container">
            <input v-model="current.title" id="task-input" type="text">
            <button type="submit">+</button>
        </div>
    </form>
    <div class="task-list">
        <div class="container">
            未完成
            <div v-for="todo in list" class="item">
                {{todo.title}}
            </div>
        </div>
    </div>
    <div class="task-list">
        <div class="container">
            已完成
            <div class="complete item">
                this is a test text;
            </div>
        </div>
    </div>
</div>

<script src="lib/vue.js"></script>
<script src="js/myStorage.js"></script>
<script src="js/main.js"></script>
</body>
</html>