<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>事件管理管局</title>
    <link rel="stylesheet" href="lib/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>


<body>
<div id="wrapper">
    <div class="navbar">
        <h1>时间管理工具</h1>
    </div>
    <div class="header">
       你的计划是?
    </div>
    <!--填写内容区-->
    <form @submit.prevent="merge" id="task-form" autocomplete="off">
        <div class="container">
            <input v-model="current.title" id="task-input" type="text">
            <div v-if="current.id" class="detail">
                <textarea v-model="current.desc"></textarea>
                <input v-model="current.alert_at" type="datetime-local">
                <button class="btn_submit" type="submit">+</button>
                <div class="clearf"></div>
            </div>
        </div>
    </form>
    <!--未完成任务显示区-->
    <div class="task-list">
        <div class="container">
            未完成
            <task :todo="todo"
                  v-if="!todo.completed"
                  v-for="(todo,index) in list"
            ></task>
        </div>
    </div>
    <!--已完成任务显示区-->
    <div class="task-list">
        <div class="container">
            已完成
            <div v-if="todo.completed" v-for="(todo,index) in list" class="item completed">
                <div class="toggle-complete" @click="toggle_complete(todo.id)"></div>
                <span class="item-title">{{todo.title}}</span>
                <button @click="remove(index)">删除</button>
            </div>
        </div>
    </div>
</div>


<template id="task-tpl">
    <div class="item">
        <div class="toggle-complete" @click="action('toggle_complete',todo.id)"></div>
        <span class="item-title">{{todo.title}}</span>
        <button @click="action('remove',todo.id)">删除</button>
        <button @click="action('set_current',todo)">更新</button>
        <button @click="action('toggle_detail',todo.id)">详情</button>
        <div v-if="todo.show_detail" class="detail">
            {{todo.desc || '暂无详情'}}
        </div>
    </div>
</template>


<script src="lib/vue.js"></script>
<script src="js/myStorage.js"></script>
<script src="js/main.js"></script>
</body>
</html>